---
import "@/styles/global.css";
import Footer from "@components/Footer/Footer.astro";
import Nav from "@components/Nav/Nav.astro";
import BaseHead from "@layouts/BaseHead.astro";

interface Props {
  type?: "general";
  navStartStyle?: "default" | "white";
  title: string;
  description: string;
  heroImage?: ImageMetadata;
  noindex?: boolean;
  lang?: import("@/i18n/config").Locale;
}

const {
  type = "general",
  navStartStyle = "default",
  title,
  description,
  heroImage,
  noindex = false,
  lang = "en",
} = Astro.props as Props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      type={type}
      title={title}
      description={description}
      image={heroImage ? heroImage : undefined}
      noindex={noindex}
      lang={lang}
    />
  </head>
  <body id="body" class="bg-base-50 text-base-900">
    <div class="min-h-[100lvh]">
      <Nav startStyle={navStartStyle} lang={lang} />
      <main>
        <slot />
      </main>
    </div>
    <Footer lang={lang} />
  </body>
</html>
